body{
    background-color: black;
    color: black;
}

img{
    position: relative;
    top:120px;
    left:320px;
}

h1,h3{
    position: absolute;
}

#name{
    top:190px;
    left:470px;
}
#DnT{
    top:260px;
    left:500px;
}

#time{
    top:260px;
    left:680px;
}

#numbers{
    top:300px;
    left:590px;

}